@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



body {
    font-family: 'Quicksand', sans-serif;
}

.turuncuLink{
    color:#ff725e;
    font-weight: 500;
}

.btn-orange {
    background-color: #ff725e;
    border: 1px solid #ff725e;
    color: #fff;
    font-weight: 500;
}

.btn-orange:hover {
    background-color: transparent;
    border: 1px solid #ff725e;
    color: #ff725e;
}

#navigation{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

#navigation .nav-link {
    color: #000;
    font-weight: 500;
}

#hizmetler .card{
    border-radius:15px;
}

#hizmetler .card:hover{
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.31);
    transition-duration: 1.4s;
}

#dijitalPazarlama .card-body h2{
    font-size:20px;
}

#egitim{
    background-image: url('../img/01.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#blog h3{
    font-size:18px;
}

#footer form .row{
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#footer form .btn{
    width: 100%;;
}